/*********************************************************************************************

    left column: 250px
    right column: 250px
    padding left/right column: 10px
    padding center column: 30px

**********************************************************************************************/

@import "helpers";
@import "variables";
@import "front-page";

// Hide things I don't know how to remove
.homelink {
  display: none;
  visibility: hidden;
}

// Hide stuff on the signup page, and forgot password page
#page-login-signup,
#page-login-forgot_password {
  .logininfo,
  #region-post,
  .navbar {
    display: none;
    visibility: hidden;
  }
  
  .box {
    margin: 0 0 1.5em 0;
    padding: 1em;
    width: 100%;
  }
}

// Hide stuff on the signup page
#page-login-index {
  .logininfo,
  .signuppanel,
  .navbar,
  .loginbox h2 {
    display: none;
    visibility: hidden;
  }
  
  .loginpanel {
    border: none;
    margin: 0 auto;
    float: none;
    width: 33%;
  }
  
  #page-header {
    padding: 0;
  }
  
  #header-left {
    float: none;
  }
  
  #page-content #region-main .region-content {
    padding: 0;
  }
  
  .subcontent {
    margin-top: 4px;
  }
  
  .loginbox {
    margin: 0;
  }
  
  h1.headermain {
    margin: 0 0 0 -6px;
    
    a {
      float: none;
      margin: 0 auto;
    }
  }
}

body {
    margin: auto 0px;
    width: auto;
}

#page {
    width: 100%;
    overflow: hidden;
}

#page-header {
    float: left;
    width: 100%;
}

#page-content {
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#page-content #region-main-box {
    float: left;
    margin-left: 0;
    position: relative;
    width: 200%;
    right: 100%;
}

#page-content #region-post-box {
    float: left;
    width: 100%;
}

#page-content #region-main-wrap {
    float: left;
    width: 50%;
}

#page-content #region-main {
    overflow: hidden;
    position: relative;
    left: 100%;
}

#page-content #region-post {
    float: right;
    position: relative;
}

#page-content #region-main .region-content {
    overflow: hidden;
    padding: 20px 30px 20px 0;
}

#page-content #region-post .region-content {
    overflow: hidden;
    padding: 20px 0 20px 10px;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #eaecee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaecee));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eaecee 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#eaecee 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#eaecee 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#eaecee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaecee',GradientType=0 );
}

#page-footer {
    clear: both;
    float: left;
    width: 100%;
    background-color: #d4d6d7;
}

.has_dock.side-post-only .page-middle #region-main {
    margin-left: 200px;
}

/** No blocks whatsoever **/
.content-only #page-content #region-main-box,
.content-only #page-content #region-main-box #region-post-box,
.content-only #page-content #region-main-box #region-main-wrap #region-main {
    margin-left: 0px;
}

.content-only #page-content #region-main-box #region-post-box #region-pre,
.content-only #page-content #region-main-box #region-post-box #region-post {
    width: 0px;
}

/** Report layout **/
.pagelayout-report #page {width:auto;position:relative;overflow:visible;}
.pagelayout-report #page-header {float:none;}
.pagelayout-report #page-content {float:none;overflow:visible;width:auto;}
.pagelayout-report #report-main-content {float:left;width:100%;}
.pagelayout-report #report-main-content .region-content {margin-left:210px;margin-top:20px;}
.pagelayout-report #report-main-content .region-content table {background-color:#FFF;}
.pagelayout-report #report-region-wrap {width:0;float:right;position:relative;left:-100%;}
.pagelayout-report #report-region-pre {width:200px;margin-top:20px;}
.pagelayout-report #page-footer {float:none;}
.pagelayout-report #page-content .region-content {overflow:visible;}
.pagelayout-report.content-only #report-main-content .region-content {margin-left:0;}

/** Correct for right to left languages **/
.dir-rtl.pagelayout-report #report-main-content .region-content {margin-left:0;margin-right:200px;}
.dir-rtl.pagelayout-report #report-region-wrap {left:0;}

/** Stabalise IE6 behaviour on the report layout **/
.ie6.pagelayout-report #report-main-content,
.ie7.pagelayout-report #report-main-content {float:none;width:auto;}
.ie6.pagelayout-report #report-region-wrap,
.ie7.pagelayout-report #report-region-wrap {float:none;width:200px;left:auto;position:absolute;top:0;}
.ie6.pagelayout-report #report-region-pre,
.ie6.pagelayout-report #report-region-pre .block
.ie7.pagelayout-report #report-region-pre,
.ie7.pagelayout-report #report-region-pre .block {width:100%;}